@font-face {
    font-family: myFont;
    src: url("../../assets/GoldenRatio-Demo.otf");
}

.passwordReset-body {
    font-family: myFont;
    width: 60%;
    background-color: azure;
    border-radius: 0.25rem;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
.passwordReset-body-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #bdc3c7;
}
.passwordReset-body-body {
    padding: 15px;
    border-bottom: 1px solid #bdc3c7;
    
}
.passwordReset-body-footer {
    padding: 10px;
    text-align: right;
}
.passwordReset-submit {
    border: none;
    border-radius: 0.25rem;
    background-color: #2ecc71;
    padding: 10px;
}
.passwordReset-input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    display: block;
    margin: auto;
    text-align: center;
}
#passwordReset-top-input {
    margin-bottom: 15px;
}

.passwordReset-submit:hover {
    background-color: #27ae60;

}
@media (max-width: 768px) {
    .passwordReset-body {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;

    }
    .passwordReset-submit {
        width: 100%;
    }
    .passwordReset-input {
        width: 100%;
    }
}